body{
  background-color: lightsteelblue;
}

h1{
  display: flex;
  justify-content: center; 
}

.joke {
  border: 1px solid black;  
  width: 200px;
  margin: 1%;
  padding: 2%;
  box-shadow: 2px 2px 5px 5px rgb(78, 76, 76);
  background-color: white;
 
}

.jokeContainer{
  display: flex;
  flex-flow: row wrap;
}

nav{
  display:flex;
  justify-content: space-around;
}

button{
  margin-top: 20px;
}